/* -------------------------------- 

Estilo primário

-------------------------------- */
*, *::after, *::before {
    box-sizing: border-box;
    font: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #333545;
    background-color: #ffffff;
}

a {
    color: red;
    text-decoration: none;
}

img {
    max-width: 100%;
}

input {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

select, input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
}

input[type="search"] {
    border-radius: 0;
    margin-top: 0;
}

select {
    background-color: transparent;
    cursor: pointer;
}

.cd-select::after {
    /* seta de comutação para selecionar o elemento */
    content: '';
    position: absolute;
    z-index: 1;
    right: 4px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url(../img/cd-icons.svg) no-repeat 0 0;
    pointer-events: none;
}

/* -------------------------------- 

Padrões - partes reutilizáveis ​​do design

-------------------------------- */
.cd-text-replace {
    /* replace text with image */
    color: transparent;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}

/* -------------------------------- 

Cabeçalho

-------------------------------- */
.cd-main-header {
    position: relative;
    z-index: 4;
    height: 50px;
    background-color: #a52834;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cd-main-header.nav-is-visible {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
}

.cd-main-header::before {
    /* nunca visível - é usado em jQuery para verificar o MQ atual */
    display: none;
    content: 'mobile';
}

@media only screen and (min-width: 1024px) {
    .cd-main-header {
        height: 80px;
    }

    .cd-main-header.nav-is-visible {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    .cd-main-header::before {
        content: 'desktop';
    }
}

.cd-main-nav-wrapper {
    padding: 0 5%;
}

.cd-main-nav-wrapper::after {
    clear: both;
    content: "";
    display: table;
}

.cd-logo {
    display: inline-block;
    height: 100%;
    padding: 5px;
    padding-top: 0;
    margin-left: 0px;
    background-color: #09253c;
    /* remove jump em dispositivos iOS - quando disparamos a navegação */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cd-logo img {
    display: block;
    margin-top: 8px;
}

@media only screen and (min-width: 1024px) {
    .cd-logo {
        position: absolute;
        z-index: 3;
    }

    .cd-logo img {
        margin-top: 17px;
    }
}

.cd-nav-trigger {
    /* nav trigger - visível apenas em dispositivos pequenos*/
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
}

.cd-nav-trigger span {
    /* ícone de nav criado em CSS */
    position: absolute;
    height: 2px;
    width: 20px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #ffffff;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* linhas superiores e inferiores do ícone do menu */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    /* Forçar aceleração de hardware */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cd-nav-trigger span::before {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
}

.cd-nav-trigger span::after {
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
}

.nav-is-visible .cd-nav-trigger span {
    background-color: rgba(255, 255, 255, 0);
}

.nav-is-visible .cd-nav-trigger span::before {
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}

.nav-is-visible .cd-nav-trigger span::after {
    -webkit-transform: translateY(0) rotate(45deg);
    -moz-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    -o-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}

@media only screen and (min-width: 1024px) {
    .cd-nav-trigger {
        display: none;
    }
}

.cd-main-nav {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 260px;
    height: 100vh;
    overflow: auto;
    background: #1f2029;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.3s;
    -moz-transition: visibility 0s 0.3s;
    transition: visibility 0s 0.3s;
}

.cd-main-nav a, .cd-main-nav input[type="search"] {
    display: block;
    font-size: 1.6rem;
    padding: 0 2em 0 1em;
    line-height: 50px;
    color: #ffffff;
    border-bottom: 1px solid #333545;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.cd-main-nav input[type="search"] {
    background-color: #292a37;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.cd-main-nav input[type="search"]:focus {
    background-color: #333545;
}

.cd-main-nav.nav-is-visible {
    -webkit-transition: visibility 0s;
    -moz-transition: visibility 0s;
    transition: visibility 0s;
    visibility: visible;
    -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 1024px) {
    .cd-main-nav {
        /* reset style */
        position: static;
        visibility: visible;
        width: auto;
        height: 80px;
        background: transparent;
        overflow: visible;
        float: right;
    }

    .cd-main-nav li {
        display: inline-block;
        float: left;
        height: 100%;
        padding: 1.375em .4em;
    }

    .cd-main-nav a {
        padding: .625em .8em;
        line-height: 1;
        border-bottom: none;
    }

    .cd-main-nav a:hover {
        opacity: .6;
    }
}

/* -------------------------------- 

Formulário de pesquisa

-------------------------------- */
.cd-main-search .cd-select {
    /* ocultar elemento selecionado em dispositivos pequenos */
    display: none;
}

.cd-main-search .close {
    /* Ícone 'X' para fechar o formulário de pesquisa - oculto em dispositivos pequenos */
    display: none;
}

.cd-main-search input[type="search"] {
    width: 100%;
    color: #ffffff;
}

.cd-main-search input[type="search"]:focus {
    outline: none;
}

.cd-main-search input[type="search"]::-webkit-input-placeholder {
    color: #5c5d6a;
}

.cd-main-search input[type="search"]::-moz-placeholder {
    color: #5c5d6a;
}

.cd-main-search input[type="search"]:-moz-placeholder {
    color: #5c5d6a;
}

.cd-main-search input[type="search"]:-ms-input-placeholder {
    color: #5c5d6a;
}

@media only screen and (min-width: 1024px) {
    .cd-main-search {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #14151c;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 0.3s, visibility 0.3s;
        -moz-transition: opacity 0.3s, visibility 0.3s;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .cd-main-search form {
        position: relative;
        height: 100%;
        /* 170px (margem esquerda) é a soma da largura do logotipo (124px) e a margem adicional de 46px (para separar a forma do logotipo) */
        /* 116px (margem direita) leva em consideração o espaço ocupado pelo a.cd-search-trigger e a.close */
        margin: 0 calc(5% + 116px) 0 calc(5% + 170px);
    }

    .cd-main-search input[type="search"] {
        font-size: 2.4rem;
        height: 100%;
        background-color: transparent;
        /* não se sobrepõe ao elemento <select>  */
        padding-right: 170px;
    }

    .cd-main-search .cd-select {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #5c5d6a;
        font-size: 1.4rem;
        overflow: hidden;
    }

    .cd-main-search span {
        display: inline-block;
    }

    .cd-main-search option {
        /* elementos de estilo <option> no Firefox */
        color: #333545;
        background-color: #ffffff;
    }

    .cd-main-search select {
        /* o elemento <select> não é visível (se a lista de opções não estiver aberta) - é coberto pelo elemento .selected-value */
        position: absolute;
        right: 0;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: 0;
        color: transparent;
    }

    .cd-main-search select:focus {
        outline: none;
    }

    .cd-main-search select:focus + span.selected-value {
        background-color: #3d3f4e;
    }

    .cd-main-search .selected-value {
        /* este elemento <span> cobre o elemento <select> - seu conteúdo é alterado (usando JavaScript) e definido igual ao valor <option> selecionado */
        /* sua largura muda automaticamente de acordo com o texto da <opção> selecionada (não é possível com um elemento <select>) */
        color: #ffffff;
        /* clicar neste elemento irá abrir a lista suspensa <select> */
        pointer-events: none;
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        transition: background-color 0.3s;
    }

    .cd-main-search select, .cd-main-search .selected-value {
        padding: 0.5em 1.7em 0.5em .3em;
        font-size: 1.4rem;
        border-radius: 3px;
    }

    .no-pointerevents .cd-main-search .selected-value {
        /* se o navegador não suportar a propriedade pointer-events, oculte o elemento .selected-value */
        display: none;
    }

    .no-pointerevents .cd-main-search select {
        /* se o navegador não suportar a propriedade pointer-events, mostre o elemento <select> */
        position: relative;
        color: #ffffff;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    .no-pointerevents .cd-main-search select:focus {
        background-color: #3d3f4e;
    }

    .cd-main-search .close {
        /* Ícone 'X' - usado para fechar o formulário de pesquisa */
        display: inline-block;
        position: absolute;
        right: 5%;
        top: 50%;
        height: 40px;
        width: 40px;
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
    }

    .cd-main-search .close::before, .cd-main-search .close::after {
        /* usado para criar o ícone 'X' em css */
        content: '';
        position: absolute;
        height: 20px;
        width: 2px;
        background-color: #ffffff;
        left: 50%;
        top: 50%;
    }

    .cd-main-search .close::before {
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }

    .cd-main-search .close::after {
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }

    .cd-main-search.is-visible {
        /* formulário de busca aberto */
        opacity: 1;
        visibility: visible;
    }

    .cd-main-search.is-visible .close {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
    }

    .animate-search .cd-main-search.is-visible {
        /* acionar a animação do formulário de pesquisa se <header> tiver a classe .animate-search */
        -webkit-animation: cd-slide-in 0.3s;
        -moz-animation: cd-slide-in 0.3s;
        animation: cd-slide-in 0.3s;
    }
}

@-webkit-keyframes cd-slide-in {
    0% {
        -webkit-transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes cd-slide-in {
    0% {
        -moz-transform: translateY(-100%);
    }
    100% {
        -moz-transform: translateY(0);
    }
}

@keyframes cd-slide-in {
    0% {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.cd-search-trigger {
    /* acionar a visibilidade do formulário de pesquisa - oculto em dispositivos pequenos */
    display: none;
}

@media only screen and (min-width: 1024px) {
    .cd-search-trigger {
        display: block;
        position: relative;
        z-index: 3;
        height: 40px;
        width: 40px;
        margin: 1.25em .5em;
        float: right;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
    }

    .cd-search-trigger::after, .cd-search-trigger:before {
        /* usado para criar a lente do ícone e o círculo de fundo */
        content: '';
        position: absolute;
    }

    .cd-search-trigger::after {
        /* ícone da lupa */
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        height: 16px;
        width: 16px;
        background: url(../img/cd-icons.svg) no-repeat -16px 0;
    }

    .cd-search-trigger::before {
        /* fundo de circulo */
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(0);
        -moz-transform: translateX(-50%) translateY(-50%) scale(0);
        -ms-transform: translateX(-50%) translateY(-50%) scale(0);
        -o-transform: translateX(-50%) translateY(-50%) scale(0);
        transform: translateX(-50%) translateY(-50%) scale(0);
        height: 100%;
        width: 100%;
        background-color: #d13f40;
        border-radius: 50%;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
    }

    .no-touch .cd-search-trigger:hover::before {
        background-color: #d13f40;
    }

    .cd-search-trigger.search-form-visible {
        -webkit-transform: translateX(-46px);
        -moz-transform: translateX(-46px);
        -ms-transform: translateX(-46px);
        -o-transform: translateX(-46px);
        transform: translateX(-46px);
    }

    .cd-search-trigger.search-form-visible::before {
        -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
        -moz-transform: translateX(-50%) translateY(-50%) scale(1);
        -ms-transform: translateX(-50%) translateY(-50%) scale(1);
        -o-transform: translateX(-50%) translateY(-50%) scale(1);
        transform: translateX(-50%) translateY(-50%) scale(1);
    }
}

/* -------------------------------- 

Camada de cobertura de conteúdo

-------------------------------- */
.cd-cover-layer {
    /* cobrir o conteúdo principal quando o formulário de pesquisa estiver aberto - oculto em pequenos dispositivos */
    display: none;
}

@media only screen and (min-width: 1024px) {
    .cd-cover-layer {
        display: block;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 0.3s, visibility 0.3s;
        -moz-transition: opacity 0.3s, visibility 0.3s;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .cd-cover-layer.search-form-visible {
        opacity: 1;
        visibility: visible;
    }
}

/* -------------------------------- 

Conteúdo principal da página

-------------------------------- */
.cd-main-content {
    display: table;
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cd-main-content .content-center {
    display: table-cell;
}

.cd-main-content .content-center h2 {
    color: black;
    font-size: 1.5em;
    margin-bottom: .6em;
}

.cd-main-content.nav-is-visible {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
}

@media only screen and (min-width: 1024px) {
    .cd-main-content {
        height: calc(100vh - 80px);
    }

    .cd-main-content .content-center h1 {
        font-size: 3.6rem;
    }

    .cd-main-content.nav-is-visible {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

/* --------------------------------

Lista

-------------------------------- */
.cd-main-list {
    color: black;
    text-align: center;
    margin: 10px auto 0;
}

.cd-main-list h1 {
    text-transform: uppercase;
}

.cd-main-list a {
    color: black;
}

.cd-main-list:after {
    content: '';
    display: inline-table;
    width: 100%;
    height: 0;
}

.cd-main-list-item {
    width: 50px;
    padding: 0.5em;
    display: inline-block;
    border-radius: 1em;
}

.cd-main-list-item_first {
    background-color: #df1c24;
    color: #ffffff;
    vertical-align: top;

}

.cd-main-list-item_second {
    background-color: #ffffff;
    width: 70%;
    padding: 1em;
    padding-top: 0;
    border-radius: 0.2em;
    text-align: left;
    border: #94aab0 thin none;
}
.ql-video{
    width: 100%;
    height: 480px;

}
@media only screen and (max-width: 1024px) {
    .ql-video{
        width: 100%;
        height: 370px;
    }
}
@media only screen and (max-width: 640px) {
    .cd-main-list-item_second {
        width: 90%;
    }

    .cd-main-list-item {
        width: 90%;
        margin-bottom: 10px;
        border-radius: 0.2em;
    }

    .ql-video{
        width: 100%;
        height: 100%;

    }
}

hr {
    border: 1px dotted #ebe9eb;
}


.cd-nav {
    text-align: center;
}

/* --------------------------------

JavaScript desativado

-------------------------------- */
.no-js .cd-main-header {
    height: auto;
}

.no-js .cd-main-header::after {
    clear: both;
    content: "";
    display: table;
}

.no-js .cd-nav-trigger {
    display: none;
}

.no-js .cd-main-nav-wrapper {
    display: inline-block;
    float: right;
}

.no-js .cd-main-nav {
    position: static;
    width: auto;
    height: auto;
    visibility: visible;
    background-color: transparent;
    float: right;
}

.no-js .cd-main-nav::after {
    clear: both;
    content: "";
    display: table;
}

.no-js .cd-main-nav li {
    display: inline-block;
    float: left;
}

.no-js .cd-main-nav a {
    border-bottom: 0;
}

.no-js .cd-search-trigger {
    display: inline-block;
    text-indent: 0;
    color: #ffffff;
    float: right;
    line-height: 50px;
}

@media only screen and (min-width: 1024px) {
    .no-js .cd-search-trigger {
        text-indent: 100%;
        color: transparent;
        line-height: normal;
    }
}

.no-js .cd-main-search {
    position: static;
    opacity: 1;
    visibility: visible;
    padding: 2em 5%;
    background: #333545;
}

.no-js .cd-main-search form {
    margin: 0;
}

.no-js .cd-main-search input[type="search"] {
    background: #333545;
}

.no-js .cd-main-search select {
    position: relative;
    color: #ffffff;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.no-js .cd-main-search select:focus {
    background-color: #3d3f4e;
}

.no-js .cd-main-search .selected-value {
    display: none;
}
