
.menu{
    position: absolute;
    background-color:  red;
    width: 70px;
    border-radius: 8px;
    transition: 0.3s border-radius ease-in-out, 0.3s height ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 5;
 }

 .logo2{
   position: absolute;
   background-color: #555;
   padding-left: 80px;
   height: 70px;
   padding-top: 8px;
   border-radius: 8px;
   left: 0;
   right: 0;
}

.menu--closed{
    height: 70px;
}

.menu--open{
    height: 450px;

}



.menu .button{
    transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;;
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 2em;
    height: 2em;
    left: 27%;
    top: 20px;
    opacity: 1;
}

.menu .button:hover {
    opacity: 0.6;
}

.menu .button span{
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 20%;
}

.menu--open .button{
    transform-origin: center;
    transform: rotate(90deg);
}

.menu .tools{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 60%;
    justify-content: space-between;
    transition: 0.3s margin ease-in-out;
}


.menu .tools .icon{
    transition: 0.2s transform ease-in-out;
}

.menu .tools a{
    font-size:10px;
    text-align: center;
    color: #fff;
}

.menu .tools .icon:hover{
    transform: scale(0.8);
}

.menu .tools--hidden{
    margin-top: 400px;
    z-index: -100;
}

.menu .tools--visible{
    margin-top: 20%;
    z-index: 100;
}

.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
    }
.menu li:hover ul, .menu li.over ul{display:block;}

