
.ql-toolbar {
    z-index: 1000;
    margin: 0;
    transition: all 0.5s, padding 0.25s;
}

.ql-toolbar.ql-snow {
    border: hidden;
}

.ql-toolbar:hover {
    opacity: 1;
}

.fix-toobar {
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background: #fff;
    text-align: center;
    border-style: hidden;
}

.close-content {
    z-index: 0;
}

.ql-editor {
    #border: 1px solid #cfd9db;
}

.full {
    height: auto;
    position: fixed;
    top: 50px;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: all 0.5s, padding 0.25s;
    padding-top: 65px;
}

@media only screen and (min-width: 1024px) {
    .fix-toobar {
        top: 80px;
    }

    .full {
        top: 80px;
    }
}

.btn-expandir {
    text-align: center;
    cursor: pointer;
}

.Btnfull {
    position: absolute;
    top: 100px;
    right: 10px;
    z-index: 101;
}

.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
    margin: auto;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}

/* Delete table button */
.ql-toolbar button.ql-save {
    position: relative;
    background-image: url('../img/baseline-playlist_add_check-24px.svg');
    background-position: center;
    background-size: 18px 18px;
    background-repeat: no-repeat;
}
